---
import HeaderCard from "../components/headercard.astro";
import ImgCard from "../components/imgcard.astro";
import Cardwrapper from "../components/cardwrapper.astro";

// images
import Heartimg from "../../public/images/artimg.jpg";
import CartoonImg from "../../public/images/school_art/cartoon.jpg";
import ArtCoverImg from "../../public/images/school_art/cover.jpg";
import DaVinciImg from "../../public/images/school_art/davinci.jpg";
import EyesImg from "../../public/images/school_art/eyes.jpg";
import FigureImg from "../../public/images/school_art/figure.jpg";
import FigureImg2 from "../../public/images/school_art/figure2.jpg";
import HandImg from "../../public/images/school_art/eyes.jpg";
import KeithImg from "../../public/images/school_art/keith.jpg";
import LaptopImg from "../../public/images/school_art/laptop.jpg";
---

<html>
<meta charset="UTF-8">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&display=swap" rel="stylesheet">
    </head>
    <body>
        <HeaderCard>
            <div class="text-wrapper">
                <h1>Check out my art!</h1>
                <p>It might come as a surprise
                    that I love to draw :) 
                </p>
            </div>
        </HeaderCard>
        <Cardwrapper>
            <h1>My School Art</h1>
            <div class = "pwrapper" >
            <p>I took art for a couple of years in school,
                 here's what I managed to make  during lessons and as homework... or as
                some extra school-related projects (such as decorating my very plain-looking laptop case)</p>
            </div>
            <div class="card-wrapper">
                <ImgCard img_path={Heartimg.src}></ImgCard>
                <ImgCard img_path={CartoonImg.src}></ImgCard>
                <ImgCard img_path={ArtCoverImg.src}></ImgCard>
                <ImgCard img_path={DaVinciImg.src}></ImgCard>
                <ImgCard img_path={EyesImg.src}></ImgCard>
                <ImgCard img_path={FigureImg.src}></ImgCard>
                <ImgCard img_path={FigureImg2.src}></ImgCard>
                <ImgCard img_path={HandImg.src}></ImgCard>
                <ImgCard img_path={LaptopImg.src}></ImgCard>
                <ImgCard img_path={KeithImg.src}></ImgCard>

            </div>
            
        </Cardwrapper>
    </body>
</html>


<style>
    body{
        background-color:rgb(27, 8, 68);
    }
</style>